<div class="row  justify-content-center align-content-center">

        <div class="container">
            
          <app-jumbotron Titulo="Reporte Mensual" Mensaje="Ventas y gastos"   ></app-jumbotron>

        </div>


    <div class="col-6 mt-4 justify-content-center align-content-center">


      <div class="d-flex  justify-content-between   align-items-center mb-3 " >

        <p class="" >Registro mensual</p>

        <button class="btn btn-primary " >Agregar Datos  </button>

      </div>

        <div class="row">
          <div class="col-12">
            <table class="table table-hover table-responsive animated fadeIn ">
              <thead class="bg-primary">
                <tr>
                  <th scope="col">Nombre</th>
                  <th scope="col">Fecha</th>
                  <th scope="col">Dinero Ganado</th>
                  <th scope="col">Dinero Gastado</th>
                  <th scope="col">Sucursal</th>
                  <th scope="col">Editar</th>
                </tr>
              </thead>
              <tbody>
                <tr *ngFor="let items of this.reporte" >
                  <th scope="row">{{items.usuario.nombre}}</th>
                  <td>{{items.fecha}}</td>
                  <td>{{items.dineroGan}}$</td>
                  <td>{{items.dineroGas}}$</td>
                  <td>{{items.sucursal}}</td>
                  <td>
                    <button (click)="EliminarReporte(items.usuario._id)"  class="btn btn-danger mr-3 " ><i class="fas fa-trash-alt"></i></button>
                    <button class="btn btn-success" ><i class="fas fa-edit"></i></button>
                  </td>
                </tr>
                
              </tbody>
            </table>
  
          </div>
        </div>
     
      

    </div>
    
    
  </div>
  
      <div class="row mt-5 text-center alert-info m-3 ">
        <div class="col">
          <h2> Ganancias temporales </h2>
          
          <p class="text-justify mt-2">
            El dinero Ganado Este Mes Es: <b>{{this.positivo}}</b>  <br>
            El Dinero Gastado Este Mes: <span class="text-danger">{{this.negativo}}</span><br>
            Las ganancias de la empresa son: <b>{{this.Suma}}</b> 

          </p>
        </div>
  
      </div>