<div class="row  justify-content-center align-content-center">

        <div class="container">
            
          <app-jumbotron Titulo="Reporte Mensual" Mensaje="Ventas y gastos"   ></app-jumbotron>

        </div>


    <div class="col-6 mt-4 justify-content-center align-content-center">


      <div class="d-flex  justify-content-between   align-items-center mb-3 " >

        <p class="" >Registro mensual</p>

        <button class="btn btn-primary " >Agregar Datos  </button>

      </div>

     
        <table class="table table-hover animated fadeIn ">
            <thead class="bg-primary">
              <tr>
                <th scope="col">Nombre</th>
                <th scope="col">Fecha</th>
                <th scope="col">Dinero Ganado</th>
                <th scope="col">Dinero Gastado</th>
                <th scope="col">Sucursal</th>
                <th scope="col">Editar</th>
              </tr>
            </thead>
            <tbody>
              <tr>
                <th scope="row">1</th>
                <td>Mark</td>
                <td>Otto</td>
                <td>@mdo</td>
                <td>@mdo</td>
                <td>
                  <button class="btn btn-danger mr-3" ><i class="fas fa-trash-alt"></i></button>
                  <button class="btn btn-success" ><i class="fas fa-edit"></i></button>
                </td>
              </tr>
              
            </tbody>
          </table>


    </div>
    
    
  </div>
  
      <div class="row mt-5 text-center alert-info m-3 ">
        <div class="col">
          
          <h2> Ganancias temporales </h2>
          <p> Lorem ipsum dolor sit amet consectetur, adipisicing elit. Facilis deserunt, quae aliquid recusandae culpa in, voluptatum magnam distinctio voluptates sed suscipit voluptatem ex dolor ipsa perspiciatis. Modi ducimus impedit officiis. </p>
        </div>
  
      </div>