<div class="row align-items-center vh-100 justify-content-center vw-100 vh-100">
    <div class="col-auto  align-self-center  ">
        <div class="card text-center p-5 login  ">
            <div>
                <img class="card-img-top rounded-circle "  src="../../../assets/img/49c8e403cd1929e9e7b02126824ff831.jpg" alt="">

            </div>
            <div class="card-body text-center  ">
                <h5 class="card-title">Login</h5>
               
               <form [formGroup]="formulario" (ngSubmit)="Login(formulario)" action="">
                    <div class="input-group">
                        <div class=" ocultar input-group-prepend">
                            <span class="input-group-text" id="my-addon"> <i class="fas fa-user"></i></span>
                        </div>
                        <input class="form-control inputs redondeado confondo"   formControlName="email" type="email" name="email" placeholder="Email" aria-label="Recipient's " aria-describedby="my-addon">
                    </div>
               


               
                    <div class="input-group mt-5 ">
                        <div class=" ocultar  input-group-prepend">
                            <span class="input-group-text" id="my-addon"> <i class="fas fa-key"></i></span>
                        </div>
                        <input class="form-control inputs" type="password" name="password" formControlName="password" required  placeholder="Contraseña" aria-label="Recipient's " aria-describedby="my-addon">
                    </div>  

                  

                    <input class="btn btn-primary btn-block mt-5" type="submit" value="Enviar" >

                    <div class="form-check mt-4">
                        <input id="my-input" class="form-check-input" required type="checkbox" name="" value="true">
                        <label for="my-input" name="check"  formControlName="check" class="form-check-label">Recuerdame</label>
                    </div>

                </form>   

                <div class="mt-4">
                    <p>¿No tienes cuenta? <a [routerLink]="['/registro']" routerLinkActive="router-link-active"   href="">Registrate</a></p>

                </div>
                
               
            </div>
        </div>
    </div>
</div>